body{width:960px;
    margin:auto;
     background-color:darkgray;
}
#PageWrapper{
    height:844px;
    background-color:seagreen;
    padding:10px;
}
#Header
 {
    width: 844px;
    height:90px;
    color:cadetblue;
}
#MenuWrapper{
    width:844px;

}
#Sidebar{
    width:180px;
    float:left;
    background-color:darkblue;
}

#MainContent{
    width:664px;
    float:left;
}
#Footer{
    background-color:orange;
    width:844px;
    clear:both;
}
body{width:920px;
     align-content:center;
}
ul.level1{
    font-size: 14px;
    font-weight:bold;
    height:19px;
    margin-left:5px;
}
ul.level1.selected {
    background-color: #BCD1FE;

}
a.level1{margin-left: 5px;

}
a.level2{background-color:#cccccc;
         padding-left:8px;
}
a.level1.hover , a.level2.hover{background-color:#BCD1FE;

}
#MenuWrapper{height:4%; width:100%; background-color:#4682B4;}